body {
  padding-top: 40px;
  background: rgb(0, 0, 0);
}

/* estils de titols i paragrafs generals */

p {
  color: white;
  font-family: Epilogue;
}

h1 {
  color: white;
  font-family: Epilogue;
}
h2 {
  color: white;
  font-family: Epilogue;
}

h3 {
  color: white;
  font-family: Epilogue;
}

h4 {
  color: white;
  font-family: Epilogue;
}

#workexperience {
  color: #fffaf0;
  font-family: Epilogue;
  font: size 16px;
  font-weight: normal;
  line-height: 32px;
}

#skills {
  color: #fffaf0;
  font-family: Epilogue;
  font: size 16px;
  font-weight: normal;
  line-height: 32px;
}

#projects {
  color: #fffaf0;
  font-family: Epilogue;
  font: size 16px;
  font-weight: normal;
  line-height: 32px;
}


.intro {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: rotate(-90deg);
  flex-direction:column;
}


#myname {
  font-family: Epilogue;
  font-style: normal;
  font-size: 650%;
  line-height: 80px;
  letter-spacing: -2px;

  /* Text_Light */

  color: #ffffff;
  mix-blend-mode: exclusion;
  border: none; }

  .mynameisaina {
    position: sticky;
    display: flex;
    align-self: flex-start;
    flex-wrap: nowrap;
  }

  .textintro {
    transform: rotate(90deg);

  }


/* menú superior */

nav {
  font-family: Epilogue;
  font-style: thin;
  font-weight: 200;
  font-size: 18px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  align-items: center;
}

nav a:link {
  text-decoration: none;
  color: white;
}

nav a:visited {
  text-decoration: none;
  color: white;
}

nav a:hover,
a:active {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

nav .contactmenu {
  padding: 15px 32px;
  border-radius: 12px;
  border: 1px solid white;
  margin-right: 60px;
}

nav .contactmenu a:hover,
a:active {
  font-size: 18px;
  background: white;
  color: black;
}


/* Transicions caixetes estudis */

.uni {
  display: flex;
  justify-content: center;
}
.uni1, .uni2 , .uni3 , .uni4 { 
    transition-timing-function: ease; 
    width: 200px;
    height: 120px;
    padding: 10px;
    background: #F7CC47;
    transition: width 2s;
    border-radius: 12px;
  }

  .yellow {
    color: #F7CC47;
  }

.uni1:hover, .uni2:hover , .uni3:hover , .uni4:hover {
    width: 600px;
    background: black;
  }


  /* adaptació formats a altres pantalles */

@media only screen and (max-width: 1024px) {
  body {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }
}
