body {
  padding-top: 40px;
}

* {
  background: rgb(0, 0, 0);
}

p {
  color: white;
  font-family: Epilogue;
}

h1 {
  color: white;
  font-family: Epilogue;
}
h2 {
  color: white;
  font-family: Epilogue;
}

h3 {
  color: white;
  font-family: Epilogue;
}

h4 {
  color: white;
  font-family: Epilogue;
}

nav {
  font-family: Epilogue;
  font-style: thin;
  font-weight: 200;
  font-size: 18px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
  align-items: center;
}

nav a:link {
  text-decoration: none;
  color: white;
}

nav a:visited {
  text-decoration: none;
  color: white;
}

nav a:hover,
a:active {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

nav .contactmenu {
  padding: 15px 32px;
  border-radius: 12px;
  border: 1px solid white;
  margin-right: 60px;
}

nav .contactmenu a:hover,
a:active {
  font-size: 18px;
  background: white;
  color: black;
}

#education {
  color: #fffaf0;
  font-family: Epilogue;
  font: size 16px;
  font-weight: normal;
  line-height: 32px;
}

#workexperience {
  color: #fffaf0;
  font-family: Epilogue;
  font: size 16px;
  font-weight: normal;
  line-height: 32px;
}

#skills {
  color: #fffaf0;
  font-family: Epilogue;
  font: size 16px;
  font-weight: normal;
  line-height: 32px;
}

#projects {
  color: #fffaf0;
  font-family: Epilogue;
  font: size 16px;
  font-weight: normal;
  line-height: 32px;
}

#myname {
  position: sticky;
  width: 993px;
  height: 120px;
  left: 25px;
  top: 10px;

  font-family: Epilogue;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 80px;
  /* or 111% */

  display: flex;
  align-items: center;
  letter-spacing: -2px;

  /* Text_Light */

  color: #ffffff;
  mix-blend-mode: exclusion;
  border: none;
  /* Note: backdrop-filter has minimal browser support */

  transform: rotate(-90deg);
}

@media only screen and (max-width: 1024px) {
  body {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 10px;
    display: flex;
    flex-direction: column;
  }
}
